.footer_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: rgb(255, 240, 238);
    height: 90px;
    bottom: 0;
}

.list_footer{
    display: flex;
    gap: 2rem;
}

.email_footer{
    color: rgb(230, 40, 19);
}
