.filter__category{
display: flex;
flex-direction: column;
align-items: center;
margin-top: 1rem;
}



.filter__of__category{
display: flex;
flex-direction: column;
position: absolute;
z-index: 9999;
border: solid 1px salmon;
left: 1px;
padding: 1em;
}



.categories__filter{
    cursor: pointer;
}


.categories__filter:hover{
background-color: blueviolet;
}

.button__filter{
    padding: 0.3rem;
    background-color: salmon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
    margin-bottom: 1rem;
}

.button__filter:hover{
    background-color: rgb(238, 211, 207);
    color: black;

}



