.filter__prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    
}

.search__by__price{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;


}

.label__price{
display: flex;

gap: 1rem;
}

.label__to{
    display: flex;
    gap: 1rem;
}

.label__of_to{
margin-left: 20px;

}

.btn__filter__price{
    padding: 0.6rem;
}

.btn__filter__price {
    background-color: salmon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
    
  }
  
  .btn__filter__price:hover,
  .btn__filter__price:active {
    background-color: rgb(238, 211, 207);
    color: black;
  }


  .filter__price{
    background-color: salmon;
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease-out;
  }

  .filter__price:hover {
    background-color: rgb(238, 211, 207);
    color: black;
  }

  button{
    cursor: pointer;
  }