.header__nav{
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: center;
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.19);
-webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.19);
-moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.19);
}

.navbar-toggler:focus{
    box-shadow: none;
}

.btn-outline-success{
    background-color: salmon;
    color: black;
}

.btn-outline-success{
    background-color: salmon;
    color: white;
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
    transition: background 0.2s; 
}

.nav-item:hover {
    width: auto;
    background-color: salmon;
    height: 40px;
}

.logo_store{
    width: 200px;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.navbar-nav{
    max-width: 1000px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.nav__filter{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    cursor: pointer;
}
.filter__menu{
    position: absolute;
    background-color: white;
    width: 450px;
    top: 57px;
    left: 90%;
    box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
-webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
-moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
}

@media (width <= 600px ) {
    .navbar{
        width: 100%;
    }
    .navbar-nav{
        width: 100%;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    .nav-item {
        transition: padding 1.2s; /* Agregar transición para suavizar el efecto */
    }
    

    .nav-item:hover {
        padding-left: 100%; /* Ajusta según tus necesidades */
        padding-right: 100%; /* Ajusta según tus necesidades */
        background-color: salmon;
    }
    .filter__menu{
        position: absolute;
        background-color: white;
        width: 450px;
        top: 57px;
        left: 4%;
        box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
    -webkit-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
    -moz-box-shadow: -5px 4px 5px 0px rgba(0,0,0,0.27);
    }
    

}