.form_name{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
overflow: hidden;
}


.register_form{
margin-top: 150px;
display: flex;
flex-direction: column;
justify-content: space-between;
width: 250px;
text-align: center;
border: 1px solid salmon;
width: 400px;
padding:2rem;
border-radius: 10px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
animation: moveToCenter 800ms ease-in;
}

.space_text_area{
display: flex;
flex-direction: column;
margin-top: 1rem;

}

.text_area{
font-size:17px;
}

.enter_text{
height: 25px;
}

.btn_1{
height: 35px;
margin-top: 10px;
border-radius: 10px;
font-size: 16px;
font-weight: bold;
}

@keyframes modalAppear {
    0% {
      transform: translateX(-50%) scale(0);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }
  
  .modalrr {
    background-color: rgba(250, 128, 114, 0.925);
    width: 350px;
    height: 340px;
    position: fixed;
    bottom:30%;
    left: 50%;
    transform: translateX(-50%) scale(0); /* Escala inicial de 0 */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.67);
    animation: modalAppear 0.5s ease forwards; /* Aplicar la animación de entrada */
    visibility: hidden;
  }
  
  .modalrr.visible {
    visibility: visible;
  }

.modal_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
 
}

.bmo{
width: 200px;
}

.close-button{
background-color: white;
color: black;
width: 100px;
height: 25px;
border-radius: 10px;
}


@keyframes moveToCenter {
    0% {
        transform: translateX(-50%);
        opacity: 0;
    }
    50% {
        transform: translateX(50);
    }
    100% {
        transform: translateX(0);
    }
}