.slider{
width: 100%;
max-width: 500px;
overflow: hidden;
margin-top: 5rem;
}

.slider__second{
display: flex;
width: 300%;

transition: transform 300ms ease;
transform: translateX(calc(-2 / 3 * 100%));

}
.slider__img_container{
padding: 3em;
width: 100%;
aspect-ratio: 1.5;
}
.slider__img{
width: 100%;
height: 100%;
object-fit: contain;
}

.arrow__head{
width: 1.8em;
aspect-ratio: 1;
position: absolute;
background-color: salmon;
color: white;
font-size: 1.5rem;
top:22%;
transform: translate(-0, 100%);
border-radius: 50%;
z-index: 3;
}

.arrow__head:hover{
filter: brightness(1.2);
    
    }

.arrow__rigth{
right: 30px;
}

.arrow__left{
left: 30px;
}

@media (min-width: 768px) {

    .arrow__head{
        top:22%;

        }
        
        .arrow__head:hover{
        filter: brightness(1.2);
            
            }
        
        .arrow__rigth{
        right: 1080px;
        }
        
        .arrow__left{
        left: 365px;
        }


}

